@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Kanit", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #1368EC;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}
.input-box {
  @apply w-full flex items-center justify-between gap-3 
  bg-slate-100 rounded-lg px-4 py-3 mt-2
  border border-slate-300
  focus-within:border-indigo-500 
  focus-within:ring-2 focus-within:ring-indigo-200
  transition-all duration-200;
}